.Form-To-Add-Nutrition{
    display: flex;
    flex-direction: column;
    background-color: var(--main-form-background-color);
    margin: var(--main-form-margin);
    padding: var(--main-form-padding);
    /* border-radius: var(--main-element-margin); */
    border-radius: var(--main-element-borderradius);
}
.Form-To-Add-Nutrition input{
    border: var(--main-input-border);
    border-radius: var(--main-element-borderradius);
    padding-left: var(--secondary-input-padding-lr);
    padding-right: var(--secondary-input-padding-lr);
    padding-top: var(--secondary-input-padding-tb);
    padding-bottom: var(--secondary-input-padding-tb);
    width: 300px;
}
.Form-To-Add-Nutrition div.Measure-Inputs-Section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Form-To-Add-Nutrition input.Measure-Inputs-Unit{
    width: 40%;
}
.Form-To-Add-Nutrition select.Measure-Inputs-Type, .Form-To-Add-Nutrition select.Category-Itemn-Input-Type{

    border: var(--main-input-border);
    border-radius: var(--main-element-borderradius);
    padding-left: var(--secondary-input-padding-lr);
    padding-right: var(--secondary-input-padding-lr);
    padding-top: var(--secondary-input-padding-tb);
    padding-bottom: var(--secondary-input-padding-tb);
}
.Form-To-Add-Nutrition select.Measure-Inputs-Type{
    width: 40%;
    background-color: var(--main-tomato-color);
    color: white;
}
.Form-To-Add-Nutrition select.Category-Itemn-Input-Type{
    color: gray;
}

.Form-To-Add-Nutrition select.Measure-Inputs-Type option, .Form-To-Add-Nutrition select.Category-Itemn-Input-Type option{
    background-color: white;
    color: gray;
}

.Form-To-Add-Nutrition input.Input-Upload-Image{
    position: relative;
    color: gray;

}
.Form-To-Add-Nutrition input::file-selector-button{
    position: absolute;
    padding-left: var(--secondary-input-padding-lr);
    padding-right: var(--secondary-input-padding-lr);
    padding-top: var(--secondary-input-padding-tb);
    padding-bottom: var(--secondary-input-padding-tb);
    background-color: var(--main-tomato-color);
    color: white;
    border: none;
    right: -4px;
    top: 0;
}
.Form-To-Add-Nutrition h2{
    font-size: var(--item-font-size);
    color: black;
    text-align: center;
}
.Form-To-Add-Nutrition label {
    font-size: var(--regular-font-size);
    color: rgb(47, 46, 46);
    font-weight: bold;
    margin: 15px 5px 5px 5px;
}
.Form-To-Add-Nutrition button.Form-button-Add{
    background-color: var(--main-tomato-color);
    color: white;
    
}
.Form-To-Add-Nutrition button.Form-button-Add:hover{
    background-color: var(--main-cherry-color);
}
.Form-To-Add-Nutrition button.Form-button-Cancel{
    background-color: white;
    color: var(--main-tomato-color);
    font-weight: bold;
    

}
.Form-To-Add-Nutrition button.Form-button-Cancel:hover{
    background-color: rgb(222, 222, 222);
}
.Form-To-Add-Nutrition button.Form-button-Cancel, .Form-To-Add-Nutrition button.Form-button-Add{
    font-size: var(--main-font-size);
    border-radius: var(--main-element-borderradius);
    justify-self: start;
    border: none;
    margin: 20px 0;
    margin-right: 10px;
    padding: 5px 20px;
    vertical-align: middle;
    cursor: pointer;
    height: 50px;

}