
.macroFactContainer{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    gap:18px;
    margin: var(--main-element-margin);
    width: 90%;
}

.macroFactContainer div.Sub-container-Macro:nth-child(1){
    text-align: center;
    margin: 0 auto;
}

.Sub-container-Macro svg.Graph-Circle{
    width: 150px;
    height: 150px;
}

.Sub-container-Macro svg.Graph-Circle circle{
    fill: none;
    stroke-width: 30px;
    transform: rotate(-180deg);
    transform-origin: center;
}
.Sub-container-Macro svg.Graph-Circle circle:nth-child(1){
    stroke: rgb(220, 218, 218);
    stroke-dasharray: 377 0;
    z-index: -3;
    
}
.Sub-container-Macro svg.Graph-Circle circle:nth-child(2){
    stroke: blue;
    stroke-dasharray: var(--item-percentage-protein) var(--item-space-percenta-protein);
    transform: rotate(-180deg);

}
.Sub-container-Macro svg.Graph-Circle circle:nth-child(3){
    stroke: red;
    stroke-dasharray: var(--item-percentage-fat) var(--item-space-percenta-fat);
    transform: rotate(-60deg);
    transform-origin: center;

}
.Sub-container-Macro svg.Graph-Circle circle:nth-child(4){
    stroke: green;
    stroke-dasharray: var(--item-percentage-carbs) var(--item-space-percenta-carbs);
    transform: rotate(60deg);
    

}

.Fact-Item-identifier-container{
    width: 200px;
}

.conteinerNutrientBarP{
    width: 200px;
    height: 10px;
    border: green 2px solid;
    border-radius: 10px;
    margin: 0 20px;
}

.nutrientBarP{
    background-color: green;
    position: relative;
    display: block;
    height: 100%;
}
.singleFactContainer{
    display: flex;
    align-items: center;
}
.singleFactContainer h3{
    margin: 0;
    width: 150px;
}