.conteinerNutrientBarP{
    width: 200px;
    height: 10px;
    border: green 2px solid;
    border-radius: 10px;
}
.nutrientBarP{
    background-color: green;
    position: relative;
    display: block;
    height: 100%;
}